html
  head
    include templates/head.jade 

  body
    include templates/header.jade 

    div.content-admin

      div.left-admin
        div.left-create
          h2 Créer un PING
          form(method="post" action="" class="forms create")
            label
                input(type="text" name="ping-name" placeholder="Nom de l'évènement")  
                input(type="text" name="person-name" placeholder="Nom de l'orateur")  
            label
                input(type="text" name="event-date" placeholder="Date de l'évènement")  
                input(type="text" name="event-place" placeholder="Lieu de l'évènement")  

          div.bouton-create
            button.createPing Créer le Ping 

        //- div.left-myping
        //-   h2 Mes PINGS
        //-   ul.myping

      div.center-admin
        div.search-ping
          h2 Chercher un PING
          input(type="text" name="user-name" placeholder="Rechercher" class="width-50")
          button.searchPing Rechercher

        div.last-ping
          h2 Derniers PING Terminés
          ul

      div.right-admin
        div.list-ping-now
          h2 Ping en cours
          ul


    include templates/footer.jade

    script(src='/js/index.js')


