html
  head
    include templates/head.jade 

  body
    include templates/header.jade 

    div.content-publi

      div.left-publi
        div.text-content

      div.right-publi
        div.image-content
          ul

    include templates/footer.jade

    script(src='/js/publi.js')
