script(type="text/javascript", src="/socket.io/socket.io.js")
script var app = {}; app.session = "#{session}"; app.ping = "#{ping}";
script(type="text/javascript", src="/js/lib/jquery-1.11.0.min.js")
script(type="text/javascript", src="/js/lib/jquery.caret.js")
script(type="text/javascript", src="/js/lib/jquery.scrollTo.min.js")
script(type="text/javascript", src="/js/lib/markdown.js")
script(type="text/javascript", src="/js/lib/marked.js")
script(type="text/javascript", src="/js/lib/rainbow-custom.min.js")
script(type="text/javascript", src="/js/lib/crevasse.js")
script(type="text/javascript", src="/js/lib/client.js")