header.header
    //- div.accueil ←
    div.conf_title #{ping}
    div#connected

    div.title(style='white-space:pre;')
      a(href="http://localhost:1337/")
        |         ___                     ___           ___     
        |        /\  \                   /\  \         /\__\    
        |       /::\  \     ___          \:\  \       /:/ _/_   
        |      /:/\:\__\   /\__\          \:\  \     /:/ /\  \  
        |     /:/ /:/  /  /:/__/      _____\:\  \   /:/ /::\  \ 
        |    /:/_/:/  /  /::\  \     /::::::::\__\ /:/__\/\:\__\
        |    \:\/:/  /   \/\:\  \__  \:\~~\~~\/__/ \:\  \ /:/  /
        |     \::/__/       \:\/\__\  \:\  \        \:\  /:/  / 
        |      \:\  \        \::/  /   \:\  \        \:\/:/  /  
        |       \:\__\       /:/  /     \:\__\        \::/  /   
        |        \/__/       \/__/       \/__/         \/__/    
        p(style= "color:#C6C6C6; font-size:12px;") Ping Is Not Googledocs

    div.session-name 

