
@font-face {
    font-family: 'interval';
    src: url('fonts/vinterval-webfont.eot');
    src: url('fonts/vinterval-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vinterval-webfont.woff') format('woff'),
         url('fonts/vinterval-webfont.ttf') format('truetype'),
         url('fonts/vinterval-webfont.svg#intervalbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interval';
    src: url('fonts/vinterval_bold-webfont.eot');
    src: url('fonts/vinterval_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vinterval_bold-webfont.woff') format('woff'),
         url('fonts/vinterval_bold-webfont.ttf') format('truetype'),
         url('fonts/vinterval_bold-webfont.svg#intervalbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'interval';
    src: url('fonts/vinterval_slanted-webfont.eot');
    src: url('fonts/vinterval_slanted-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vinterval_slanted-webfont.woff') format('woff'),
         url('fonts/vinterval_slanted-webfont.ttf') format('truetype'),
         url('fonts/vinterval_slanted-webfont.svg#intervalslanted') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ume';
    src: url('fonts/ume-p-mincho-webfont.eot');
    src: url('fonts/ume-p-mincho-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ume-p-mincho-webfont.woff') format('woff'),
         url('fonts/ume-p-mincho-webfont.ttf') format('truetype'),
         url('fonts/ume-p-mincho-webfont.svg#ume_p_minchoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ume_balsa';
    src: url('fonts/ume-p-gothic_balsa-webfont.eot');
    src: url('fonts/ume-p-gothic_balsa-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ume-p-gothic_balsa-webfont.woff') format('woff'),
         url('fonts/ume-p-gothic_balsa-webfont.ttf') format('truetype'),
         url('fonts/ume-p-gothic_balsa-webfont.svg#ume_p_gothic_balsaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 97%;
    height: 98%;
    color:#000;
    background: #C6C6C6;
    font-size: 13px;
    font-family: 'interval', monospace;
    margin: 0 40px;
    font-weight: normal;

}

textarea, #padperso {
    font-family: 'interval', monospace;
    font-size: 12px;
    padding: 10px;
    outline: none;
    border: none;
    font-weight: normal;
}

.header{
  margin-top: 10px;
}

.accueil {
    font-size: 15px;
    font-family: 'ume', serif;
    color: #1A22FA;
    float: left;
}

.conf_title{
    font-size: 13px;
    font-family: 'ume', serif;
    color:#545454;
    letter-spacing: 1px;
    padding-left: 30px;
}

.title {
    float: right;
    font-family:monospace;
    font-size:0.3em;
    color: #1A22FA;
    margin-top: -20px;
}

#connected{
  top:10px;
  right:160px; 
  position:fixed;
  font-size: 13px;
  font-family: "ume", serif;
  color:#545454;
  letter-spacing: 1px;
}

#content {
  width:100%; 
  margin-top: 10px;
  height:600px;
}


#content .pad #pad_perso{
  width:37%;
  height:610px;
  float:left; 
  margin-left:0px; 
  margin-top:0px;
  padding: 15px;
  border-top: 1px solid #1A22FA;
  border-left: 1px solid #1A22FA;
  border-bottom: 1px solid #1A22FA;
  background: #FFF;
  outline:0;
  overflow: scroll;
/*  font-size: 13px;*/
line-height: 16px;
  color:#000;
  resize: none;
}

#content #pad_perso .timer{
  font-size: 9px;
  color:#545454;
}

#fake {
  display: none;
  width:37%;
  height:600px;
  float:left; 
  margin-left:0px; 
  margin-top:0px;
}

/*#content .pad .pad_title{
  color:#1A22FA;
  font-size: 13px;
  font-family: "ume", helvetica, arial, sans-serif;
  letter-spacing: 1px;
}*/

#content .pad p{
  color:#000;
  font-size: 13px;
  font-family: "interval", helvetica, arial, sans-serif;
  font-weight: bold;
}

#content .pad ul{
  margin: 0;
  padding-left: 0;
}

#content .pad ul li{
  display: inline-block;
  font-size: 13px;
  font-family: "ume_balsa", helvetica, arial, sans-serif;
  color:#1A22FA;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: normal;
}

#content li.active{
  background: #FFF;
  border-top: 1px solid #1A22FA;
  border-right: 1px solid #1A22FA;
  border-left: 1px solid #1A22FA;
}

/* PREVIEWER HTML */

#content #previewer {
  position:absolute; 
  background:#FFF; 
  width:32%;
  height:558px;
  float:left; 
  margin-left:0px; 
  margin-top:0px;
  border-top: 1px solid #1A22FA;
  border-left: 1px solid #1A22FA;
  border-bottom: 1px solid #1A22FA;
  display:none;
  padding: 20px;
  font-size: 13px;
  overflow: scroll;
}

/* MARKDOWN STYLED */

#content #previewer blockquote{
  font-style: italic;
  color: #636363;
  font-size: 11px;
/*-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 20px;
-webkit-margin-end: 20px;*/
}

#content #previewer a{
  text-decoration: none;
  color:#1A22FA;
}

#content #previewer h1{
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-margin-after: 6px;
}

#content #previewer h2{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-margin-after: 6px;
}

#content #previewer h3{
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.05em;
  -webkit-margin-after: 6px;
}

#content #previewer h4{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: normal;
  -webkit-margin-after: 6px;
}

#content #previewer p{
  -webkit-margin-before: 6px;
}

#content #previewer li{
  -webkit-margin-after: 12px;
}


/* -------------- RIVIERE ----------------- */

.common #river {
    overflow: scroll;
    width:20%; 
    height:598px; 
    background:#fff; 
    float:left; 
    border-top: 1px dotted #1A22FA;
    border-bottom: 1px dotted #1A22FA;
    padding-top: 10px;
    background-image: -webkit-gradient(
  linear,
  left top,
  right top,
  color-stop(0, #FFFFFF),
  color-stop(1, #C6C6C6)
);
background-image: -o-linear-gradient(right, #FFFFFF 0%, #C6C6C6 100%);
background-image: -moz-linear-gradient(right, #FFFFFF 0%, #C6C6C6 100%);
background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #C6C6C6 100%);
background-image: -ms-linear-gradient(right, #FFFFFF 0%, #C6C6C6 100%);
background-image: linear-gradient(to right, #FFFFFF 0%, #C6C6C6 100%);
/*    margin-top:30px;*/
}

.common #river img{
    width:200px;
    margin-top: 5px;
}

.common #river p{
    margin-left: 15px;
/*    margin-bottom: 5px;*/
    font-family: 'ume', serif;
    font-size: 13px;
    letter-spacing: 1px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 2em;
}

.common #river b{
    font-family: 'ume', serif;
    font-size: 13px;
    letter-spacing: 1px;
}

#send-message {
  position: relative;
}

#send-message>div {
  text-align: center;
}

div.filebutton {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  font-family: "ume_balsa", serif;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  color:#1A22FA;
  line-height: 24px;
  margin-left: 36%;
  margin-top: -30px;
  padding: 2px 0;
  padding-left: 30px;
  width: 200px !important;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.filebutton input#imagefile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

#river button.commenter {
  font-family: "ume_balsa", serif;
  color: #1A22FA;
  border: 1px solid #1A22FA;
  background: none;
  margin-top: 10px;
/*  margin-left: 15px;*/
  cursor: pointer;
}

#river input.commentinput {
  width:200px;
  height:20px;
  outline: 0;
  font-family: "ume", serif;
  font-size: 13px;
  letter-spacing: 0.05em;
  border: 1px solid #1A22FA;
  background: none;
  margin-top: 10px;
/*  margin-left: 15px;*/
}

#river input.commentSubmit{
  font-family: "ume_balsa", serif;
  color: #1A22FA;
  border: 1px solid #1A22FA;
  background: none;
  margin-top: 5px;
/*  margin-left: 15px;*/
  text-transform: uppercase;
  cursor: pointer;
}

#river .commentfull{
  margin-top: 10px;
  width:200px;
  line-height: 1.3em;
}

/* --------- VISUALISATEURS ----------- */

.arrow {
  position:fixed;
  bottom:25px;
  right:8%;
/*  background:#C6C6C6; */
  width: 29%;
  height:16px;
/*  border: 1px #000 solid;*/
  text-align: center;
}

.arrow li {
  color:#1A22FA;
  background: none;
  border:none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
  margin-left:30px;
  padding: 5px 10px;
  font-size: 17px;
}

#visualisateur {
  margin-top: -35px;
  margin-left: 60px;
  width:30%;
  height:600px;
  overflow: hidden;
  float: left;
}

#visualisateur #visu0, #visu1, #visu2, #visu3, #visu4, #visu5 {
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  width:100%; 
  height:175px; 
  background:#C6C6C6; 
  border-bottom:1px solid rgba(26, 34, 250, 0.4); 
  color:#545454;
  padding-top: 10px;
  overflow: scroll;

}

#visualisateur #visu{
  margin-top: -10px;
}

#visualisateur .pseudo{
 font-size: 13px;
 text-decoration: underline;
 color:#545454;
 font-family: "ume", serif;
 letter-spacing: 1px;
 padding-top: 5px;
 padding-bottom: 5px;
}